In [ ]:
#PyCity Schools Analysis

#As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).
#As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).
#As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from scipy.stats import iqr

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [ ]:
#District Summary

#Calculate the total number of schools
#Calculate the total number of students
#Calculate the total budget
#Calculate the average math score 
#Calculate the average reading score
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
#Calculate the percentage of students with a passing math score (70 or greater)
#Calculate the percentage of students with a passing reading score (70 or greater)
#Create a dataframe to hold the above results
#Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete['school_name'].count()
name_school=school_data_complete['school_name'].unique()
num_school=len(name_school)
print(name_school,num_school)

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School'] 15

In [3]:
school_data_complete['student_name'].count()
name_student=school_data_complete['student_name'].unique()
num_student=len(name_student)
print(name_student,num_student)

['Paul Bradley' 'Victor Smith' 'Kevin Rodriguez' ... 'Rebecca Tanner'
 'Desiree Kidd' 'Carolyn Jackson'] 32715

In [4]:
total_bedget=school_data_complete['budget'].sum()
total_bedget

82932329558

In [5]:
average_math=school_data_complete['math_score'].mean()
average_math

78.98537145774827

In [6]:
average_reading=school_data_complete['reading_score'].mean()
average_reading

81.87784018381414

In [7]:
overall_score=((average_math+average_reading)/2)
overall_score

80.43160582078121

In [8]:
pass_math=(school_data_complete['math_score']>=70).mean()
por_math=pass_math*100
#porcentage_math=pass_math.loc['True']/num_student
por_math

74.9808526933878

In [9]:
pass_reading=(school_data_complete['reading_score']>=70).mean()
por_reading=pass_reading*100
#porcentage_math=pass_math.loc['True']/num_student
por_reading

85.80546336482001

In [10]:
summary_df = pd.DataFrame({"Total Schools": [num_school],
                           "Total Students": [num_student],
                           "Total Budget": [total_bedget],
                           "Average Math Score": [average_math],
                           "Average Reading Score": [average_reading],
                           "% Passing Math": str(por_math) + " %",
                           "% Passing Reading": str(por_reading) +" %",
                           "% Overall Passing Rate": str(overall_score)+" %"})

In [11]:
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,32715,82932329558,78.985371,81.87784,74.9808526933878 %,85.80546336482001 %,80.43160582078121 %

In [ ]:
Create an overview table that summarizes key metrics about each school, including:
School Name
School Type
Total Students
Total School Budget
Per Student Budget
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
Overall Passing Rate (Average of the above two)


Create a dataframe to hold the above results

In [99]:
schools_groups = school_data_complete.groupby('school_name')
school_g=schools_groups.count()
school_g

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [100]:
school_g1=schools_groups.value_counts()

AttributeError: 'DataFrameGroupBy' object has no attribute 'value_counts'

In [94]:
grade_stu=schools_groups['grade'].value_counts()
grade_stu

school_name            grade
Bailey High School     9th      1458
                       11th     1251
                       10th     1239
                       12th     1028
Cabrera High School    9th       528
                       11th      482
                       10th      466
                       12th      382
Figueroa High School   9th       856
                       10th      763
                       11th      709
                       12th      621
Ford High School       9th       833
                       10th      708
                       11th      659
                       12th      539
Griffin High School    9th       409
                       10th      406
                       11th      361
                       12th      292
Hernandez High School  9th      1382
                       10th     1227
                       11th     1088
                       12th      938
Holden High School     9th       127
                       10th      114
                       11th      103
                       12th       83
Huang High School      9th       844
                       10th      767
                       11th      721
                       12th      585
Johnson High School    9th      1400
                       10th     1227
                       11th     1198
                       12th      936
Pena High School       9th       275
                       11th      256
                       10th      250
                       12th      181
Rodriguez High School  9th      1164
                       10th     1040
                       11th     1006
                       12th      789
Shelton High School    9th       530
                       10th      448
                       11th      412
                       12th      371
Thomas High School     9th       461
                       10th      421
                       11th      415
                       12th      338
Wilson High School     9th       631
                       10th      606
                       11th      599
                       12th      447
Wright High School     9th       510
                       10th      486
                       11th      435
                       12th      369
Name: grade, dtype: int64

In [56]:
type_school=schools_groups['type'].value_counts()
type_school

school_name            type
Bailey High School     District    4976
Cabrera High School    Charter     1858
Figueroa High School   District    2949
Ford High School       District    2739
Griffin High School    Charter     1468
Hernandez High School  District    4635
Holden High School     Charter      427
Huang High School      District    2917
Johnson High School    District    4761
Pena High School       Charter      962
Rodriguez High School  District    3999
Shelton High School    Charter     1761
Thomas High School     Charter     1635
Wilson High School     Charter     2283
Wright High School     Charter     1800
Name: type, dtype: int64

In [57]:
total_student=schools_groups['student_name'].count()
total_student

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [58]:
total_budget=schools_groups['budget'].value_counts()
total_budget

school_name            budget
Bailey High School     3124928    4976
Cabrera High School    1081356    1858
Figueroa High School   1884411    2949
Ford High School       1763916    2739
Griffin High School    917500     1468
Hernandez High School  3022020    4635
Holden High School     248087      427
Huang High School      1910635    2917
Johnson High School    3094650    4761
Pena High School       585858      962
Rodriguez High School  2547363    3999
Shelton High School    1056600    1761
Thomas High School     1043130    1635
Wilson High School     1319574    2283
Wright High School     1049400    1800
Name: budget, dtype: int64

In [59]:
percent_budget=((total_budget/total_budget)*100)

In [60]:
aver_math_score=schools_groups['math_score'].mean()
aver_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [61]:
aver_reading_score=schools_groups['reading_score'].mean()
aver_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [62]:
overall_pass=(aver_math_score/aver_reading_score)*100
overall_pass

school_name
Bailey High School       95.081654
Cabrera High School      98.911727
Figueroa High School     94.521487
Ford High School         95.487512
Griffin High School      99.444910
Hernandez High School    95.496773
Holden High School       99.986029
Huang High School        94.391284
Johnson High School      95.190684
Pena High School         99.756342
Rodriguez High School    95.167514
Shelton High School      99.562537
Thomas High School       99.486480
Wilson High School       99.148361
Wright High School       99.675090
dtype: float64

In [63]:
pass_math=(aver_math_score/overall_pass)*100
pass_reading=(aver_reading_score/overall_pass)*100

In [64]:
summary_df1 = pd.DataFrame({"School Name": [name_school[1]],
                           "School Type": [type_school[1]],
                           "Total Students": [total_student[1]],
                           "Total School Budget": [total_budget[1]],
                           "Per Student Budget": [percent_budget[1]],
                           "Average Math Score": [aver_math_score[1]],
                           "Average Reading Score": [aver_reading_score[1]],
                           "% Passing Math": str(pass_math[1]) + " %",
                           "% Passing Reading": str(pass_reading[1]) +" %",
                           "% Overall Passing Rate": str(overall_pass[1])+" %"})

In [65]:
summary_df1.head(1)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,Figueroa High School,1858,1858,1858,100.0,83.061895,83.97578,83.97578040904197 %,84.89972130890234 %,98.91172681651254 %

In [119]:
grades_order=pd.DataFrame(np.arange(grade_stu[1],
                          index=(school_g),
                          columns=["9th","10th","11th","12th"])

SyntaxError: unexpected EOF while parsing (<ipython-input-119-c6479169406f>, line 3)

In [118]:
grades_order

TypeError: unsupported format string passed to numpy.ndarray.__format__

TypeError: unsupported format string passed to numpy.ndarray.__format__